@import '../../styles/App.module.scss';

hr {
  width: 265px;
  height: 0;
  border: .5px solid rgba(255, 255, 255, 0.2);
  box-sizing: content-box;
  display: block;
}
.body {
  margin: 5px;
  border: $border;
  border-radius: $border-r;
  color: $white;
  cursor: pointer;
  width: 320px;
  height: 320px;
  background: $gradient;
}
.content {
  width: 100%;
}
.top_line {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: $card;
  justify-content: space-between;
  align-items: center;
  line-height: 68px;
  padding: 0 25px;
}
.time{
  position: relative;
  left: 70%;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 25px;
  .icon img{
    width: 125px;
    height: 125px;
  }
  .temperature {
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 68px;
  }
}

.info {
  padding: 0 25px;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  font-weight: 350;
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
